{% extends "blog/base.html" %}

{% block content %}

<div class="center-div">



    <form class="form-signin" method="post" action="{% url 'login' %}">
      <h2 class="form-signin-heading">Авторизация</h2>
      {% if form.errors %}
          <p>Неправильный логин или пароль</p>
      {% endif %}
    {% csrf_token %}
    <input type="text" class="form-control" name="username" placeholder="Логин" required id="id_username" autofocus="" />
    <input type="password" class="form-control" name="password" placeholder="Пароль" required id="id_password"/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
    </form>


</div>


{% endblock %}
