{% extends "blog/base.html" %}

{% block content %}
<div class="container">
          <div class="wrapper">
    <form class="form-signin" method="post" action="{% url 'login' %}">
      <h2 class="form-signin-heading">Please login</h2>
      {% if form.errors %}
          <p>Your username and password didn't match. Please try again.</p>
      {% endif %}
    {% csrf_token %}
     <input type="text" class="form-control" name="username" placeholder="login" required id="id_username" autofocus="" />
             <input type="password" class="form-control" name="password" placeholder="password" required id="id_password"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
</div>
</div>

{% endblock %}
