{% extends 'blog/base.html' %}
{% block content %}
{% load humanize %}

 <div class="container"><div class="row"><div class="col-lg-8 col-md-10 mx-auto">

    {% for post in posts %}

            <h1><a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></h1>
            <span class="label label-info">{{ post.tag }}</span>
            <span class="label label-default">{{ post.published_date|naturaltime }}</span>
            <p>{{ post.text|truncatewords_html:60|safe }}</p>

    {% endfor %}

</div></div></div>
{% endblock %}
