{% extends 'blog/base.html' %}
{% block content %}
{% load humanize %}

<div class="container"><div class="row"><div class="col-lg-8 col-md-10 mx-auto">

        {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'post_edit' slug=post.slug %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default confirmation" href="{% url 'post_delete' slug=post.slug %}"><span class="glyphicon glyphicon-remove"></span></a>

        {% endif %}

        <h1>{{ post.title }}</h1>
                {% if post.published_date %}
                <span class="label label-info">{{ post.tag }}</span>
                <span class="label label-default">{{ post.published_date|naturaltime }}</span>

       <!-- JS dependencies -->
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

       <!-- bootbox code -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

       <script>
       $('.confirmation').on('click', function (e) {
         e.preventDefault();
         href = $(this).attr('href');
       bootbox.confirm({
           message: "Действительно хотите удалить?",
           size: 'small',
           buttons: { confirm: { label: 'Да', className: 'btn-success'}, cancel: { label: 'Нет', className: 'btn-danger'} },
           callback: function (result) { if (result) { window.location = href }} }); });
       </script>

        {% endif %}
        {{ post.text|safe }}

</div></div></div>

{% endblock %}
